{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "lib": "./src/lib",
        "components": "./src/lib/components",
        "screens": "./src/screens"
      }
    }]
  ]
}
